<%- include('../partials/header') %>


    <form id="new-form" action="/tickets" method="POST">
        <label>Select Flight</label>
        <select name="flight">
              <%-  `<option value="${flights._id}">${flights.airline} Flight # ${flights.flightNo}</option>` %>
            </select>
        <label>Enter Seat([A-F][1-9])</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label>Enter Price($)</label>
        <input type="number" name="price">
        <button id="add-ticket-button" submit ">Add Ticket</button>
    </form>

    <%- include('../partials/footer') %>