<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <a href="/flights/new">Add Flight</a>
    <a href="/flights/index">View All Flights</a>
    <p>Welcome to
        <%= title %>
    </p>

</body>

</html>